/* Importacion de tipografia */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300;1,600;1,900&display=swap');

/* Selector universal */
*{
    margin: 0;
    padding: 0;
    }
/* Selector de etiqueta */
    h1{
        font-family: 'Poppins';
        font-weight: 900;
        color: rgb(73, 136, 21);
    }
/* Selector de etiqueta */
    h2{
        color: rgb(0, 0, 0);
    }
/* Selector de ID */
    #site_text{
        background-color: green;
    }
/* Selector de clase */
    .subtitles{
        font-family: 'Poppins';
    }
/* Selector por atributo */
    input[disabled]{
        background-color: aquamarine;
    }
/* Selector por id - Boton Enviar */
#btn_send{
 margin: 30px;
 padding: 40px;
}
/* Selector por pseudoclase */
#btn_send:hover{
    background-color: rgb(0, 109, 235);
    color: orange;
}
#papa{
margin-left: 50px;
border: 2px solid red;
border-radius: 10px;
}
.hermanos{
    background-color: rgb(24, 121, 121);
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 2px;
}
#nh_uno{
color: blue;
}
/* Selector descendente hijo */
#papa > .hermanos > #nh_uno{
color:orange;
}
/* Selector descendente */
#papa .nieto{
    color: red;
}
span{
color: blue;
}

#title_box{
    color: #000;
    font-family: 'Poppins', sans-serif;
    background-color: aqua;
    text-align: center;
    padding-left: 20px;
    margin: 50px;
    border: 1px dotted #000;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 10px blue;
    -webkit-box-shadow: 21px 0px 74px 65px rgb(209, 57, 57);
-moz-box-shadow: 21px 0px 74px 65px rgb(209, 64, 64);
box-shadow: 21px 0px 74px 65px rgb(204, 38, 38);
word-spacing: 30px;
letter-spacing: 5px;
font-size: 50px;
}

#box_father{
    border: 1px solid #000;
    border-radius: 10px;
    width: 200px;
    height: 200px;
    margin-left: 20px;
    background-image: url(https://us.123rf.com/450wm/boonyen/boonyen1702/boonyen170200050/72302837-futbolista-pateando-una-pelota-el-ni%C3%B1o-jugando-f%C3%BAtbol-ilustraci%C3%B3n-de-dibujos-animados-de.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Media querys entre 800 y 1280 */
@media (min-width: 800px) and (max-width: 1280px) {
    body{
        background-color: red;
    }
    h1{
        text-align: center;
    }   
}

/* Media querys entre 799 para abajo */
@media (max-width: 799px){
body{
    background-image: url(https://us.123rf.com/450wm/boonyen/boonyen1702/boonyen170200050/72302837-futbolista-pateando-una-pelota-el-ni%C3%B1o-jugando-f%C3%BAtbol-ilustraci%C3%B3n-de-dibujos-animados-de.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
}
